.button{
    background: #0077FF;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    display: flex;
    align-items: center;
    margin: 0 auto;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button:hover{
    background: #0653aa;
}

.arrow{
    margin-left: 10px;

}