.navbar{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}
.profile{
    height: 2rem;
    border-radius: 1rem;
    margin-right: 1rem;
}
.logoutBtn{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin-top: 0.5rem;
}
.profile{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin: 0;
}
.profileImg{
    height: 2.2rem;
    border-radius: 2rem;
}
.profileName{
    margin-right: 1rem;
    font-size:medium;
}
.logoutImg{
    height: 1rem;
}

@media screen and (max-width: 556px) {
    .profileName{
        display: none;
    }    
}