.roomsContainer {
    border-top: 1px solid rgb(80, 80, 80);
}

.roomsBox {
    max-width: 80rem;
    margin: auto;
    margin-top: 1rem;
}

.btn {
    background-color: #20BD5F;
    display: flex;
    align-items: center;
    padding: 0.4rem;
    border-radius: 1rem;
}

.searchBar {
    background: #262626;
    border: 0;
    outline: 0;
    color: white;
}

.buttonText {
    margin-top: 1px;
    margin-left: 2px;
    color: white;
    font-size: "medium";
    font-weight: bold;
}
.gridRooms{
    display:grid;
    grid-template-columns:auto auto auto auto auto;
    justify-items: center;
}
.textRoom{
    border-bottom: solid 1px #0077FF;
}
@media screen and (max-width: 359px) {
    .buttonText{
        display: none;
    }
}
@media screen and (max-width: 360px) {
    .searchBar{
        max-width: 12rem;
    }
}

@media screen and (max-width: 556px) {
    .textRoom {
        display: none;
    }
}

@media screen and (max-width: 1150px) {
    .gridRooms{
        grid-template-columns: auto auto auto auto;
    }
}
@media screen and (max-width: 918px) {
    .gridRooms{
        grid-template-columns: auto auto auto;
    }
}
@media screen and (max-width: 705px) {
    .gridRooms{
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width: 474px) {
    .gridRooms{
        grid-template-columns: auto;
    }
}