.roomsContainer {
    border-top: 1px solid rgb(80, 80, 80);
}

.roomsBox {
    max-width: 80rem;
    margin: auto;
    margin-top: 1rem;
}

.btn {
    background-color: #20BD5F;
    display: flex;
    align-items: center;
    padding: 0.4rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.btn:hover{
    background-color: #07692f;
}

.searchBar {
    background: #262626;
    border: 0;
    outline: 0;
    color: white;
}

.buttonText {
    margin-top: 1px;
    margin-left: 2px;
    color: white;
    font-size: "medium";
    font-weight: bold;
}
.gridRooms{
    display:grid;
    grid-template-columns:repeat(auto-fit,249px);
    grid-row-gap:15px;
    grid-column-gap:8px;
}
.textRoom{
    border-bottom: solid 1px #0077FF;
}
@media screen and (max-width: 500px) {
    .gridRooms{
        justify-content: center;
    }
}
@media screen and (max-width: 359px) {
    .buttonText{
        display: none;
    }
}
@media screen and (max-width: 360px) {
    .searchBar{
        max-width: 12rem;
    }
}

@media screen and (max-width: 556px) {
    .textRoom {
        display: none;
    }
}